@use 'src/styles/vars';


.container {
    position: relative;
        width: 100%;
        height: 7rem;
        top: 0;
        right: 0;
}
.settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-left: 0.7rem;
    left: 0px;
    opacity: 1;
    transition: left 0.4s, opacity 0.4s;

         &--open {
            left: 50px;
            opacity: 0;
        }
    
    };

.bienvenue {
    padding: 1rem;
    color: vars.$darkGreen;
}

.logout {
    font-weight: bold;
}