.main-title {
    color: #6cc573;
    font-size: 4vh;
    font-weight: bold;
    font-family: 'Noway';
  }

  .icon{
    &::after {
      content: '';
      border-bottom: 0.4vh solid #6cc573;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }